@use "sass:math"
@use "sass:list"
$fa-font-path: "./../node_modules/@fortawesome/fontawesome-free/webfonts/"
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome'
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular'
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid'
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands'

@import '../node_modules/bulma/bulma'
@import 'bulma/sass/utilities/mixins'

$sprite: "../public/css_sprites.png"

@import './cards.css'

body
    overflow: hidden
    position: fixed
    width: 100%

canvas
    border: solid 1px red

.playing-area
    border: solid 1px red

.game-open
    & > span
        position: absolute
        bottom: 0px
    border: 1px solid cyan
    position: relative
    height: 200px

.card-wrapper
    &.vertical
        transform: rotate(90deg)
    position: absolute
    box-shadow: none

$radius: 0.12
$radius2: math.div($radius, 1.83)
.card
    border: 1px solid black
    box-shadow: none
    //box-sizing: border-box
    border-radius: list.slash(percentage($radius),percentage($radius2))
    overflow: hidden
    &.valid
        //border: 1px solid green
        //margin-top: -20px
        &:hover
            border: 1px solid cyan
            margin-top: -40px
    &.invalid
        border: 1px solid red
