$fa-font-path: "./../node_modules/@fortawesome/fontawesome-free/webfonts/"
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome'
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular'
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid'
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands'

@import '../node_modules/bulma/bulma'
@import 'bulma/sass/utilities/mixins'

$sprite: "../public/css_sprites.png"

.player-cards
    display: flex
    flex-direction: row
    flex-wrap: wrap

.card-wrapper
    zoom: 0.4
    margin-right: -60px 
    &:hover
        margin-right: 0px

.card
    // transform: scale(0.5)
    width: 148px
    height: 272px
    background-size: cover
    border-radius: 20px
    // font-size: 5em
    // height: 1em
    // margin: 0em 0 0 0
    &.valid
        border: 1px solid green
        &:hover
            border: 1px solid cyan
    &.invalid
        border: 1px solid red
    
.bg-0
    background: url($sprite) -3301px -1px 

.bg-1
    background: url($sprite) -3451px -1px 

.bg-2
    background: url($sprite) -3601px -1px 

.bg-3
    background: url($sprite) -3751px -1px 

.bg-4
    background: url($sprite) -3901px -1px 

.bg-5
    background: url($sprite) -4051px -1px 

.bg-6
    background: url($sprite) -4201px -1px 

.bg-7
    background: url($sprite) -4351px -1px 

.bg-8
    background: url($sprite) -4501px -1px 

.bg-9
    background: url($sprite) -4651px -1px 

.bg-10
    background: url($sprite) -4801px -1px 

.bg-11
    background: url($sprite) -4951px -1px 

.bg-12
    background: url($sprite) -5101px -1px 

.bg-13
    background: url($sprite) -5251px -1px 

.bg-14
    background: url($sprite) -5401px -1px 

.bg-15
    background: url($sprite) -5551px -1px 

.bg-16
    background: url($sprite) -5701px -1px 

.bg-17
    background: url($sprite) -5851px -1px 

.bg-18
    background: url($sprite) -6001px -1px 

.bg-19
    background: url($sprite) -6151px -1px 

.bg-20
    background: url($sprite) -6301px -1px 

.bg-21
    background: url($sprite) -6451px -1px 

.bg-c1
    background: url($sprite) -6601px -1px 

.bg-c2
    background: url($sprite) -6751px -1px 

.bg-c3
    background: url($sprite) -6901px -1px 

.bg-c4
    background: url($sprite) -7051px -1px 

.bg-c5
    background: url($sprite) -7201px -1px 

.bg-c6
    background: url($sprite) -7351px -1px 

.bg-c7
    background: url($sprite) -7501px -1px 

.bg-c8
    background: url($sprite) -7651px -1px 

.bg-c9
    background: url($sprite) -7801px -1px 

.bg-c10
    background: url($sprite) -7951px -1px 

.bg-c11
    background: url($sprite) -8101px -1px 

.bg-c12
    background: url($sprite) -8251px -1px 

.bg-c13
    background: url($sprite) -8401px -1px 

.bg-d1
    background: url($sprite) -8551px -1px 

.bg-c14
    background: url($sprite) -8701px -1px 

.bg-d2
    background: url($sprite) -8851px -1px 

.bg-d3
    background: url($sprite) -9001px -1px 

.bg-d4
    background: url($sprite) -9151px -1px 

.bg-d5
    background: url($sprite) -9301px -1px 

.bg-d6
    background: url($sprite) -9451px -1px 

.bg-d7
    background: url($sprite) -9601px -1px 

.bg-d8
    background: url($sprite) -9751px -1px 

.bg-d9
    background: url($sprite) -9901px -1px 

.bg-d10
    background: url($sprite) -10051px -1px 

.bg-d11
    background: url($sprite) -10201px -1px 

.bg-d12
    background: url($sprite) -10351px -1px 

.bg-d13
    background: url($sprite) -10501px -1px 

.bg-d14
    background: url($sprite) -10651px -1px 

.bg-h1
    background: url($sprite) -10801px -1px 

.bg-h2
    background: url($sprite) -10951px -1px 

.bg-h3
    background: url($sprite) -11101px -1px 

.bg-h4
    background: url($sprite) -11251px -1px 

.bg-h5
    background: url($sprite) -11401px -1px 

.bg-h6
    background: url($sprite) -11551px -1px 
.bg-h7
    background: url($sprite) -1px -1px 

.bg-h8
    background: url($sprite) -151px -1px 

.bg-h9
    background: url($sprite) -301px -1px 

.bg-h10
    background: url($sprite) -451px -1px 

.bg-h11
    background: url($sprite) -601px -1px 

.bg-h12
    background: url($sprite) -751px -1px 

.bg-h13
    background: url($sprite) -901px -1px 

.bg-h14
    background: url($sprite) -1051px -1px 

.bg-s1
    background: url($sprite) -1201px -1px 

.bg-s2
    background: url($sprite) -1351px -1px 

.bg-s3
    background: url($sprite) -1501px -1px 

.bg-s4
    background: url($sprite) -1651px -1px 

.bg-s5
    background: url($sprite) -1801px -1px 

.bg-s6
    background: url($sprite) -1951px -1px 

.bg-s7
    background: url($sprite) -2101px -1px 

.bg-s8
    background: url($sprite) -2251px -1px 

.bg-s9
    background: url($sprite) -2401px -1px 

.bg-s10
    background: url($sprite) -2551px -1px 

.bg-s11
    background: url($sprite) -2701px -1px 

.bg-s12
    background: url($sprite) -2851px -1px 

.bg-s13
    background: url($sprite) -3001px -1px 

.bg-s14
    background: url($sprite) -3151px -1px 