source https://api.nuget.org/v3/index.json

nuget Fable.Elmish.HMR
nuget Fable.Import.Browser
nuget FSharp.Core
nuget Fable.Core 3.2.8
nuget Fable.Elmish.Debugger 3.3.0
nuget Fable.Elmish.React 3.0.1
nuget Fulma 2.14.1
nuget Fulma.Elmish
nuget Microsoft.NET.Test.Sdk 16.5.0
nuget NUnit 3.12.0
nuget NUnit3TestAdapter 3.16.1