# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Tarot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\theor\RiderProjects\Tarot\.idea\.idea.Tarot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
